{% extends 'student/base.html' %}
{% load static %}
{% block content %}
{% static 'images' as baseUrl %}

<!-- Start BAse -->
<div class="container-fluid mt-5">
  
<!-- small screen drop down for all,assigned,returned -->
<div class="row d-flex justify-content-center">
    Assignment list
</div>
<hr class="" style="max-width: 800px;">
<div class="row mt-3 ml-2">
    <div class="col-3 ">
        <div class="list-group">
            <a class="list-group-item list-group-item-action active show" id="list-home-list" data-toggle="list"
                href="#list-all" role="tab" aria-controls="home">All</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                href="#list-answered" role="tab" aria-controls="profile">Answered</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                href="#list-markgiven" role="tab" aria-controls="messages">Mark Given</a>
        </div>
    </div>
    <div class="col-9 ">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show " id="list-all" role="tabpanel" aria-labelledby="list-home-list">
                {% if assignmentlist %}
               
                {% for my_item in assignmentlist %}
                      
                <div class="card mb-2 col-12 text-light" style="background-color: rgba(22,34,57,0.99);">
  
                    <div class="card-body">
                        <div class="row mb-0">
                            <div class="col-6">
                                <label for="filename" class="col-auto">{{my_item.classcode}}</label>
                                <label for="email" class="col-auto">{{my_item.description}}</label>
                            </div>
                            <div class="col-6">
                                <a href="{{my_item.file}}" target="_blank" class="btn btn-primary col-3"
                                    style="background-color: skyblue;color:black;border: none;">view</a>
                                <label for="total" class="col-auto my-auto">marks: {{my_item.marks}} </label>
                            </div>


                        </div>
                        <div class="row d-flex justify-content-end">
                            <div class="col mt-3">
                              <label for="filename" class="col-auto"> Due Date : - {{my_item.date}}</label>

                            </div>
                            <form action="{% url 'assignmentsubmit' user.id my_item.id my_item.classcode %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                              <div class="col d-flex mt-3">
                              <input id="input-b1" name="ifile" type="file" class="file form-control"
                              data-browse-on-zone-click="true" required>
                              <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                          </form>
                        </div>

                    </div>
                </div>
                {% endfor %}
    
                {% else %}
                <div class="container d-flex justify-content-center">
                  <img src="{% static 'img/empty.jpeg' %}" alt="" height="400px" width="500px">
                </div>
                {% endif %}
                  </div>
            <div class="tab-pane fade" id="list-answered" role="tabpanel" aria-labelledby="list-profile-list">
                {% if ansassignmentlist %}
                {% for my_item in ansassignmentlist %}
                {% if my_item.assignmentStatus != "markgiven" %}  
                <div class="card mb-2 col-12 text-light" style="background-color: rgba(22,34,57,0.99);">

                    <div class="card-body">
                        <div class="row mb-0">
                            <div class="col-6">
                                <label for="filename" class="col-auto">{{my_item.classcode}}</label>
                                <label for="email" class="col-auto">{{my_item.description}}</label>
                            </div>
                            <div class="col-6">
                                <a href="{{my_item.fileapploaded}}" target="_blank" class="btn btn-primary col-3"
                                    style="background-color: skyblue;color:black;border: none;">view</a>
                                <label for="total" class="col-auto my-auto"> {{my_item.date}} </label>
                            </div>
                    

                        </div>


                    </div>
                </div>
                {% endif %}
            {% endfor %}
                {% else %}
                <div class="container d-flex justify-content-center">
                  <img src="{% static 'img/empty.jpeg' %}" alt="" height="400px" width="500px">
                </div>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="list-markgiven" role="tabpanel" aria-labelledby="list-messages-list">
                {% if ansassignmentlist %}
                {% for my_item in ansassignmentlist %}
                {% if my_item.assignmentStatus == "markgiven" %}  
                  <div class="card mb-2 col-12 text-light" style="background-color: rgba(22,34,57,0.99);">

                      <div class="card-body">
                          <div class="row mb-0">
                              <div class="col-8">
                                  <label for="filename" class="col-auto">{{my_item.classcode}}</label>
                                  <label for="email" class="col-auto">{{my_item.description}}</label>
                                  <input type="number" readonly
                                 name="marks" id="" value="{{my_item.studentMarks}}" aria-describedby="helpId" placeholder="">
                              </div>
                              <div class="col-4">
                                  <a href="{{my_item.fileapploaded}}" target="_blank" class="btn btn-primary col-3"
                                      style="background-color: skyblue;color:black;border: none; ">view</a>
                                  <label for="total" class="col-auto my-auto"> {{my_item.date}} </label>
                              </div>
                      

                          </div>

                      </div>
                  </div>
                  {% endif %}
                  {% endfor %}
                  {% else %}
                  <div class="container d-flex justify-content-center">
                    <img src="{% static 'img/empty.jpeg' %}" alt="" height="400px" width="500px">
                  </div>
                  {% endif %}


            </div>

        </div>
    </div>
</div>  


</div>
<!-- End base -->

{% endblock %}